

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: hsl(30, 54%, 90%) ;
    overflow-x: hidden;
    color: hsl(30, 10%, 34%)
}
#Box{
    width: 50%;
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 20px;

}
header img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
h1{
    color: hsl(24, 5%, 18%);
}
h2{
    font-family:serif;
    color: hsl(14, 45%, 36%);
    font-family: serif

}
h3{
   color: hsl(332, 51%, 32%); 
   margin-left: 30px;
}
#Preparationtime{
    background-color:  hsl(328, 43%, 93%);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    
}
ul{
    margin-inline: 10px;
    line-height: 25px;
}
li{
    padding-inline: 15px;
}
#Preparationtime li::marker{
    color: hsl(14, 45%, 36%);
}
span{
    font-weight: bold;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td{
    padding: 20px;
    text-align: left;
}
tr{
    border: 1px, solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
tr:last-child{
    border-bottom: none;
}
th{
    color: hsl(14, 45%, 36%);;
}



@media only screen and (max-width: 1000px) {

    #Box{
        width: 70%;
    }

}
@media only screen and (max-width: 375px){
    #Box{
        width: 100%;
    }
}


